<div class="navbar">

    <div class="navbar-left">
        <button class="hamburger-btn" (click)="toggleSidebar()">
            <span class="material-icons">menu</span>
        </button>
        <h2>Smart Kitchen Management</h2>
    </div>

    <div class="navbar-right">

        <!-- Search -->
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
        </div>

        <div class="nav-icon">
            <i class="fa-regular fa-bell"></i>
        </div>

      <div
    class="profile"
    routerLink="/settings/profile"
    title="Profile Settings">

    <div class="profile-text">
        <h4>{{ userName }}</h4>
        <span *ngIf="userRole">{{ userRole }}</span>
    </div>

    <img
        [src]="profileImageUrl || 'data:image/svg+xml,%3Csvg xmlns=...'"
        alt="Profile">

</div>

    </div>

</div>
